{% extends "base.html" %} {% load static %}


{% block content %}

<section class="recipe-showcase">
  <div class="showcase-container">
    <div class="showcase-image">
      <img src="https://www.seriouseats.com/thmb/EgBZ3JxNFUZAd4rMLcZWzGZqaaE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/20221208-Mansaf-Mai-Kakish-hero-ec9c515c00d24b5c9ef567854036f044.JPG" alt="Spaghetti Bolognese">
    </div>
    <div class="showcase-content">
      <h2>{{recipe.name}}</h2>
      <p class="description">
       {{recipe.description}}
      </p>

      <div class="ingredients">
        <h4>Ingredients:</h4>
            <p>{{recipe.ingredients}}</p>
      </div>

      <div class="actions">
        <button class="btn primary">❤️ Add to Favorites</button>
      <a href="{% url "recipe-detail" recipe.id %}">  <button class="btn secondary">Edit Recipe</button> </a>
      <a href="{% url "recipe-delete" recipe.id %}">  <button class="btn secondary">Delete Recipe</button> </a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}