{% extends "base.html" %} {% load static %}


{% block content %}

<section class="recipe-showcase">
  <div class="showcase-container">
    <div class="showcase-image">
     {% if object.image_url %}
  <img
    src="{{ object.image_url }}"
    alt="{{ object.name }}image"
    class="img-fluid"
    onerror="this.onerror=null;this.src='{% static 'images/placeholder.png' %}';"
  >
{% else %}
  <img src="{% static 'images/placeholder.png' %}" alt="No image" class="img-fluid">
{% endif %}
    </div>
    <div class="showcase-content">
      <h2>{{recipe.name}}</h2>
      <p class="description">
       {{recipe.description}}
      </p>

      <div class="ingredients">
        <h4>ingredients:</h4>
         {% for ingredient in recipe.ingredients.all %}
              <p>{{ ingredient.name }}</p>
           {% empty %}
              <li>No ingredients listed.</li>
              {% endfor %}

      </div>


      <div class="actions">
      {% if not user.is_authenticated  %}
        <h4>Login</h4>
      {% elif user.is_authenticated and recipe.user == user %}
          
          <a href="{% url "recipe-update" recipe.id %}">  <button class="btn secondary">Edit Recipe</button> </a>
          <a href="{% url "recipe-delete" recipe.id %}">  <button class="btn secondary">Delete Recipe</button> </a>
      {% else %}
        <form action="{% url 'like-recipe' recipe.id %}" method="post">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if user in recipe.likes.all %}
            <button type="submit" class="btn btn-danger">💔 Unlike</button>
        {% else %}
            <button type="submit" class="btn btn-primary">❤️ Like</button>
        {% endif %}
        <p>{{ recipe.total_likes }} likes</p>
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to like this recipe.</p>
    {% endif %}
</form>

      {% endif %}
       </div>
    </div>
  </div>
</section>


{% endblock content %}