{% extends "base.html" %}{% load static %}

{% block content %}
<h1 class="text-center">Welcome to Dishly 🍳</h1>
<a href="{% url 'recipe-create' %}"> <button class="btn primary">Create a Recipe</button></a>

<p class="text-center">Your personal recipe collection app.</p>

 {% for recipe in object_list %}
    
<section class="recipe-showcase">
  <div class="showcase-container">
    <div class="showcase-image">
      <img src="https://www.seriouseats.com/thmb/EgBZ3JxNFUZAd4rMLcZWzGZqaaE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/20221208-Mansaf-Mai-Kakish-hero-ec9c515c00d24b5c9ef567854036f044.JPG" alt="Spaghetti Bolognese">
    </div>
    <div class="showcase-content">
      <h2>{{recipe.name}}</h2>
      <p class="description">
       {{recipe.description}}
      </p>

      <div class="ingredients">
        <h4>Ingredients:</h4>
            <p>{{recipe.ingeredients}}</p>
      </div>

      <div class="actions">
        <button class="btn primary">❤️ Add to Favorites</button>
      <a href="{% url "recipe-detail" recipe.id %}">  <button class="btn secondary">👁 View Full Recipe</button> </a>
      </div>
    </div>
  </div>
</section>


 {% endfor %}

{% endblock %}




